@use "mixins" as *;

:root {
  --color-red: #993232;
  --color-headers: #00ccc0;
  --color-dark-bg: #333;
  --color-text: #3a3a3a;
  --color-dark-text: #303030;
  --color-background: #fafafa;
  --color-table-header-background: #ededed;
  --color-code-background: #fff;
  --color-code-border-color: #dfdfdf;
  --color-invert-filter: none;
}

body {
  font-family: "Mulish", sans-serif;
}

[data-md-type="navigation"] {
  font-family: "Roboto Condensed", sans-serif;
}

.logo1,
.logo2 {
  display: none;
}

@media screen and (min-width: 800px) {
  .logo1 {
    @include logo1;
  }
  .logo2 {
    @include logo2;
  }
}

/* Remove focus-within styles globally */
*:focus-within {
  outline: none !important;
  box-shadow: none !important;
}

.md-typeset ol li,
.md-typeset ul li {
  margin: 0;
}

/* Change border color, width, and style for all notes */
.md-typeset .admonition.note,
.md-typeset details.note {
  border: 1px solid #0074d9; /* Change color and style as needed */
  border-radius: 8px; /* Optional: rounded corners */
  box-shadow: none; /* Optional: remove shadow */
}

.md-theme-light .md-typeset img,
.md-theme-light .md-typeset svg,
.md-theme-light .md-typeset video {
  border-radius: 10px;
}

.md-typeset h1 {
  font-size: 2em;
  line-height: 1.5;
  margin: 0px 0px 0em;
}

.md-typeset h2 {
  font-size: 1.5em;
  line-height: 1.5;
  margin: 0px 0px 0em;
}

.md-nav,
.md-typeset {
  font-size: 16px;
}

.md-typeset table {
  line-height: 0.25rem;
}

/* Force sidebar to be visible alongside tabs */
.md-sidebar {
  display: block !important;
}

/* Make sure content area doesn't overlap */
.md-main__inner {
  display: grid;
  grid-template-columns: minmax(250px, 300px) 1fr;
}

/* Hide sidebar items that are not in the active tab */
.md-nav__list > .md-nav__item--nested:not(.md-nav__item--active) {
  display: none;
}
.md-typeset a {
  color: whitesmoke;
}

.md-header {
  background-color: black;
}
